@model IEnumerable<ebookshopping.Models.book>

@{
    ViewData["Title"] = "Index";
}
<style>
       

   
        body {
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDp9srtcWx0g4f6Ulf_1R6L5sSGEXNo0ckIw&usqp=CAU');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }
    </style>
<body>
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Add New Book</a>
</p>
<table class="table table-bordered table-hover">
    <thead>
        <tr  class="bg-success text-white">
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bookquantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cataid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imgfile)
            </th>
            <th  style="width:30%">      Actions       </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookquantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cataid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imgfile)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.Id"  class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>